.background-image {
  background-image: url('../assets/images/whyboostbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.herobg {
  background-image: url('../assets/images/heroBackground.svg');
  /* background-image: url('../assets/images/heroobg.svg'); */
  /* background-image: url('../assets/images/heroImage.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.possbg {
  background-image: url('../assets/images/possbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
